<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        .box { background: #ddd; }
    </style>
</head>
<body>

<h2>Detail de vente :</h2>

    <div class="box">
        <p>Date de la vente : </p><p th:text="${vente.dateVente}"></p>
        <p>Produit vendu : </p><p th:text="${vente.produit != null ? vente.produit.libelle : '-'}"></p>
        <p>Quantité vendue : </p><p th:text="${vente.quantite + ' ' + (vente.produit != null ? vente.produit.uniteDefaut : '')}"></p>
        <p>Prix unitaire :</p><p th:text="${vente.prixUnitaire + ' Ar'}"></p>
        <p>Montant total de la vente : </p><p th:text="${vente.prixUnitaire.multiply(vente.quantite) + ' Ar'}"></p>

    </div>

</body>
</html>